@model AJAX_CRUD.Models.Employee

@{
    ViewBag.Title = "Export to Excel";
}


<!DOCTYPE html>
<html>
<head>
    <title>Export to Excel</title>
</head>
<body>
    <h2>Export to Excel</h2>
    <p>
        Click the button below to download the employee data as an Excel file.
    </p>
    <button onclick="exportToExcel()">Download Excel</button>
    </body>
</html>
