@model AJAX_CRUD.Models.Employee

@{
    ViewBag.Title = "Employee List";
}
<h2 class="text-primary text-center">Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <button id="exportButton" class="btn btn-primary">Export to Excel</button>
    <button id="exportSelectedButton" class="btn btn-success">Export Selected Employees to Excel</button>

</p>

<div>
    <input type="checkbox" id="selectAll"> <label for="selectAll">Select All</label>
    <table id="employeeTable" class="table table-bordered table-striped table-responsive">
    </table>

</div>
@section scripts{
    <script src="~/Scripts/employeeserverside.js"></script>
}
