@model AJAX_CRUD.Models.LoginUser

@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
<p>Click the button below to logout:</p>

@using (Html.BeginForm("Logout", "EmployeeServerSide", FormMethod.Post, new { id = "logoutForm" }))
{
    <input type="submit" value="Logout" />
}
